img {
    height: 300px;
    width: auto;
}

h1 {
    font-size: 36px;
    background-color: beige;
}

h2 {
    font-size: 28px;
}

h1, h2 {
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
}

.link {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.text {
    font-family: Garamond, "Times New Roman", serif;
    font-size: 18px;
}

.description h2 {
    background-color: rgb(173, 216, 230);
}

.ingredients h2 {
    background-color: rgb(144,238,144);
}

.steps h2 {
    background-color: rgb(219, 124, 128);
}

.list {
    background-color: rgb(189, 174, 174);
    color: brown;
}

.steps .list {
    background-color: black;
    color: limegreen;
}